.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-left: -30px;
  margin-top: -30px;
  margin-bottom: 20px;
}
.info {
  display: flex;
  justify-content: space-around;
}

.gallery-section {
  padding: 60px 0;
}

.search-form {
  display: flex;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.search-input {
  height: 40px;
  flex-grow: 1;
  font-size: 18px;
  padding-left: 15px;
  border: 1px solid #303030;
}

.search-btn,
.load-more {
  font-size: 14px;
  padding: 10px 20px;
  background-color: #2ecc71;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 250ms linear;
}

.load-more {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.search-btn:hover,
.search-btn:focus,
.load-more:hover,
.load-more:focus {
  background-color: #27ae60;
}

.photo-card {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}

.hidden {
  display: none;
}

/* .gallery img {
  width: 100%;
  height: 100%;
  /* max-width: unset; */
/* object-fit: cover; */
/* } */
